@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --swiper-pagination-color: #FFF;
  --swiper-navigation-color: #FFF;
}

.swiper-slide {
  height: auto !important;
  width: 100%;
  object-fit: cover !important;
  object-position: center;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer base {
  :root {

  }
}

@layer base {
  * {

  }
  body {

  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    width: 100%;
  height: 100%;
  padding: 0;
  overflow-anchor: auto;
}

