@import "tailwindcss";
@import "tw-animate-css";
@tailwind utilities;


@theme {
    /* screen sizes*/
    --breakpoint-mob: 0px;
    --breakpoint-tab: 768px;
    --breakpoint-des: 1280px;
    --breakpoint-deslg: 1440px;
    --breakpoint-desxl: 1920px;

    --spacing-content: 1400px;

    --color-primary-grey: #a6a8a1;
    --color-primary-blue: #80c4cf;
}

.swiper-slide {
  height: auto !important;
  width: 100%;
  object-fit: cover !important;
  object-position: center;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  max-width: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer base {
  :root {

  }
}

@layer base {
  * {

  }
  body {
      padding: 2rem
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    width: 100%;
  height: 100%;
  padding: 0;
  overflow-anchor: auto;
}

.cut-out-text {
    position: relative;
    font-size: 100px;
    font-weight: bold;
    padding: 50px;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

/*
  Layer in between. (Black in this case.)
    This layer is sized just a bit smaller than the
    container to leave the `::after` visible around.
*/
.cut-out-text::before {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background: #000;
}

/*
  Layer that repeats the original background
    and appears to be the real background,
  making it look like the text is cut out.
*/
.cut-out-text::after {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    background-image: inherit;
}